<section
  hackIntersectable
  TopMargin="-50%"
  BottomMargin="-50%"
  (Intersection)="OnIntersection($event)"
>
  <div class="wrapper">
    <h3><hack-title>Patrocinadores</hack-title></h3>
    <p>
      <hack-text
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
      </hack-text>
    </p>
    <figure>
      <hack-gallery
        [options]="{ autoplay: true, pagination: false, slidesPerView: 3, centeredSlides: true }"
      >
        <div class="swiper-slide">
          <img src="/images/sponsor-example-1.png" alt="Patrocinador 1" />
        </div>
        <div class="swiper-slide">
          <img src="/images/sponsor-example-2.png" alt="Patrocinador 2" />
        </div>
        <div class="swiper-slide">
          <img src="/images/sponsor-example-3.png" alt="Patrocinador 3" />
        </div>
        <div class="swiper-slide">
          <img src="/images/sponsor-example-4.png" alt="Patrocinador 4" />
        </div>
      </hack-gallery>
    </figure>
  </div>
</section>
