<section hackIntersectable TopMargin="-70%" (Intersection)="OnIntersection($event)">
  <figure>
    <img src="/images/laguna-hack.webp" alt="" />
  </figure>
  <p>
    <hack-text>
      Organizado por el Campus Nogales del Instituto Tecnológico Superior de Zongolica, Laguna Hack
      2026 es el espacio ideal para crear soluciones reales, aprender en equipo y llevar tus ideas
      al siguiente nivel.¡Regístrate y forma parte de la experiencia!
    </hack-text>
  </p>
  <nav>
    <ul>
      <li>
        <hack-button icon="team" mode="dark">Registra a tu equipo</hack-button>
      </li>
      <li>
        <hack-button icon="light-bulb" mode="outlined">Ver Proyectos</hack-button>
      </li>
    </ul>
  </nav>
</section>
