<section
  hackIntersectable
  TopMargin="-50%"
  BottomMargin="-50%"
  (Intersection)="OnIntersection($event)"
>
  <hack-panel>
    <hack-labeled-subtitle icon="team">Informacion del equipo</hack-labeled-subtitle>
    <hack-team-info-form></hack-team-info-form>
  </hack-panel>
  <div class="right">
    <h2>
      <hack-title> Registro </hack-title>
    </h2>
    <p>
      <hack-text>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
      </hack-text>
    </p>
    <hack-button mode="dark" icon="speaker">Ver convocatoria</hack-button>
  </div>
</section>
